.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Modal
*/

.modal-content {
  border-radius: 0.5em !important;
}

li {
  border-radius: 50px !important;
}

li:hover {
  box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.09);

}

ul {
  border: none !important;
}


.card-footer, .card-body, .modal-header, .modal-body, .modal-footer {
  border: none !important;
  background-color:#f8f9fa !important;
}